fastapi==0.120.4
uvicorn==0.38.0
sqlalchemy==2.0.44
aiosqlite==0.21.0
alembic==1.17.1
pydantic==2.12.3
python-dotenv==1.2.1
bcrypt==4.0.1
pyjwt==2.10.1
python-multipart==0.0.20
email-validator==2.3.0
passlib==2.4.2
sqladmin==0.21.0
httptools==0.7.1
watchfiles==1.1.1
